name: Build and Package Firmware

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install ARM Toolchain
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: '9-2020-q2-update'

    - name: Build firmware
      run: make

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Generate zip
      run: python tools/xiaotea/Scripts/prepareZip_online.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: tools/zip_output
        name: M365_v3_build_${{ github.run_number }}
